*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

.black-ops-one-regular {
    font-family: "Black Ops One", serif;
    font-weight: 400;
    font-style: normal;
}

.even-background {
    z-index: 0;
    background: #f9fbfd;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color: #676a81;
	background: #fff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a:not(.navbar a, .welcome-hero a, .about-list-icon a), 
a:not(.navbar a, .welcome-hero a, .about-list-icon a):hover, 
a:not(.navbar a, .welcome-hero a, .about-list-icon a):active, 
a:not(.navbar a, .welcome-hero a, .about-list-icon a):focus {
    display: inline-block;
    text-decoration: none;
    color: #6a708e;
    font-size: 16px;
    padding: 0;
}


h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#43485c;
    font-size: 16px;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
}

p {
	margin: 0;
	line-height:1.8;
	color:#43485c;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}

img{
    border:none;
    max-width:100%; 
    height:auto;
}

ul{
	padding: 0;
    margin: 0 auto;
    list-style: none;
}

ul li {
	list-style: none;
	
}

select,input,textarea,button{
    box-shadow:none;
    outline:0!important;
}

button {
    background: transparent;
    border: 0;
}

html,body{
    height: 100%;
	position: relative;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s 0.3s ease; 
    -moz-transition: opacity 0.3s 0.3s ease; 
    -ms-transition: opacity 0.3s 0.3s ease; 
    -o-transition: opacity 0.3s 0.3s ease; 
    transition: opacity 0.3s 0.3s ease; 
    opacity: 0;
}

.fix{
    position: relative;
    clear: both;
}

.top-area {
    position: relative;
    z-index: 9999;
}

.section-header {
    padding: 50px 0 100px;
}

.section-top-border{
    border-top: 1px solid #e5ebf2;
}

.section-heading h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5ebf2;
}

/* navbar */
.navbar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px;
    text-transform: capitalize;
}

.navbar-brand {
    padding-right: 20px;
    color: #2c7ef9;
}

.big {
    font-size: 30px;
}

/*-------------------------------------
        Welcome-Hero
--------------------------------------*/
.welcome-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    height:890px;
}

.video-background{
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    overflow: hidden;
    width:100%;
    height:100%;
}

.video-background video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.welcome-hero .container{
    position: relative;
    z-index: 1;
}

.welcome-hero:before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header-text h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
}
.header-text h2 span {
    color: #2c7ef9;
}
.header-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 30px 0 60px;
    letter-spacing: 1px;
}

.header-text a {
    width: 200px;
    height: 60px;
    line-height: 45px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    background: #3676ff;
    border:1px solid #3676ff;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
}

.header-text a:hover{ 
    box-shadow: 0 5px 20px rgba(0,0,0,.4);
    background:#0051ff;
    border: 1px solid #0051ff;
}

/*-------------------------------------
        Welcome-Sub
--------------------------------------*/
.welcome-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 550px;
}

.image-background{
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    overflow: hidden;
    width:100%;
    height:100%;
}

.image-background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.welcome-sub .container{
    position: relative;
    z-index: 1;
}

.welcome-sub:before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*-------------------------------------
        About
--------------------------------------*/
.about-content {
    padding-top: 100px;
}
.section-heading h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5ebf2;
}
.single-about-txt h3 {
    font-size: 18px;
    color: #3c4258;
    text-transform: initial;
    line-height: 1.8;
}
.single-about-txt p {
    font-size: 16px;
    color: #999fb3;
    padding: 35px 0 43px;
    border-bottom: 1px solid #999fb3;
}
.single-about-add-info {
    margin: 35px 0;
}
.single-about-add-info h3 {
    color: #636a82;
    font-size: 16px;
    text-transform: capitalize;
}
.single-about-add-info p {
    font-weight: 300;
    border: 0;
    padding: 0;
    margin-top: 3px;
}

.single-about-img{
    position: relative;
    box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.single-about-img:before {
    position:  absolute;
    content: " ";
    top: 0;
    left:  0;
    width: 100%;
    height:  100%;
}

.single-about-img img {
    max-width: 100%;
    height: 468px;
}

.about-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #1f2c6c;
}

.about-list-icon ul {
    display: flex;
    cursor:pointer;
}

.about-list-icon ul li a {
    padding-right: 22px;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}

.about-list-icon ul li a i {
    margin-left: 6px;
}

/*-------------------------------------
        Interests
--------------------------------------*/
.interests-area {
    display: flex;
    align-items: center;
    height: 500px;
}

.interests-area .carousel-inner .carousel-item img {
    height: 400px;
    width: 400px;
}

.carousel-caption h5{
    color: white;
}

#imsmodal .carousel-indicators button{
    background-color: rgb(232, 232, 235);
}

#imsmodal .carousel-indicators .active{
    background-color: #3676ff;
}

#imsmodal .carousel-control-prev-icon,
#imsmodal .carousel-control-next-icon {
    border-radius: 10px;
    background-color: #3676ff;
}

#imsmodal .carousel-control-prev-icon,
#imsmodal .carousel-control-next-icon {
    background-color: #2859c2;
}

#imsmodal .carousel {
    background-color: transparent;
}

/*-------------------------------------
        Contact
--------------------------------------*/
.single-contact-box {
    padding-top: 100px;
}

.contact-form {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%; /* This maintains the 16:9 aspect ratio (height / width = 9 / 16 = 0.5625) */
}

.contact-form iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.single-contact-btn:hover{
    background: #0051ff;
    border: 1px solid #0051ff;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

.contact-add-head h3 {
    font-size:  24px;
    color:  #3c4258;
}
.contact-add-head p {
    font-size:  16px;
    text-transform: capitalize;
    color:  #636a82;
    font-weight:  300;
    margin-top:  6px;
}

.contact-add-info { 
    margin: 42px 0 52px;
}
.single-contact-add-info h3 {
    color:  #636a82;
    font-weight:  500;
}
.single-contact-add-info p {
    color:  #999fb3;
    font-size:  16px;
    margin-top:  18px;
}
.single-contact-add-info {
    margin-bottom:  26px;
}

.hm-foot-icon ul li{
    float:left;
}

.hm-foot-icon ul li>a {
    color: #636a82;
    margin-right:18px;
    -webkit-transition: .3s; 
    -moz-transition:.3s; 
    -ms-transition:.3s; 
    -o-transition:.3s;
    transition: .3s;
}

.hm-foot-icon ul li>a:hover{
    color: #3676ff;
}

/*-------------------------------------
        Education
--------------------------------------*/
.edu-image img {
    padding-top: 10%;
    width: auto; /* Ensures the image scales to fit the container width */
    height: 300px; /* Keeps the aspect ratio of the image intact */
    display: block; /* Removes any unwanted space below the image */
}

#education .description {
    font-size: 14px;
}

#education .description ul{
    margin-left: 20px;
}

#education .description li{
    padding: 2px 0;
    list-style-type: disc;
}

.education-horizontal-timeline {
    padding: 80px 0;
}

.education-horizontal-timeline .col-sm-4 {
    padding:0 2px;
}

.single-horizontal-timeline .experience-time h3{
    text-transform: capitalize;
}
.single-horizontal-timeline .experience-time h3 span{
    text-transform:lowercase;
}
.single-horizontal-timeline .timeline-content h5 {
    margin: 15px 0;
}

.single-horizontal-timeline .description {
    color: #999fb3;
    max-width: 335px;
}

.timeline-horizontal-border {
    display:  flex;
    align-items: center;
    padding: 26px 0 30px;
}
.timeline-horizontal-border i {
    font-size:  10px;
    color: #2c7ef9;
    margin-right:  5px;
}
span.single-timeline-horizontal {
    display:  inline-block;
    background: #b2c1ce;
    height:  1px;
    width: 100%;
}
span.single-timeline-horizontal.spacial-horizontal-line {
    width: 88px;
}

/*-------------------------------------
        Profile
--------------------------------------*/
.profiles-content {
    padding-top: 100px;
}

.profiles-content .col-sm-4{
    padding: 0;
}

.profile-txt {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-txt a i {
    font-size: 30px;
}

.single-profile {
    position: relative;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #b2c1ce;
    overflow:hidden;
    -webkit-transition:background 0.5s linear; 
    -moz-transition:background 0.5s linear; 
    -ms-transition:background 0.5s linear; 
    -o-transition:background 0.5s linear; 
    transition:background 0.5s linear;
}
.profile-icon-name {
    text-transform: capitalize;
    color: #636a82;
    font-size: 16px;
    text-align: center;
}
.single-profile.profile-no-border{
    border-right: transparent;
}
.profile-border {
    border-bottom: 1px solid #b2c1ce;
}
.single-profile-overlay{
    display:flex;
    align-items:center;
    text-transform: capitalize;
    justify-content:center;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width:100%;
    height: 100%;
    background: #2c7ef9;
    background: -moz-linear-gradient(left, #2c7ef9 0%, #3676ff 100%);
    background: -webkit-linear-gradient(left, #2c7ef9 0%,#3676ff 100%);
    background: linear-gradient(to right, #2c7ef9 0%,#3676ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7ef9', endColorstr='#3676ff',GradientType=1 );
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.single-profile:hover .single-profile-overlay{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    top:0;
}

.single-profile:hover .profile-icon-name,.single-profile:hover .profile-txt a>i{
    color: #fff;
}

.single-profile:hover .profile-border {
    border:transparent;
}

/*-------------------------------------
        Skill
--------------------------------------*/
.skill-content{
    padding: 50px 0 80px;
}
.single-skill-content{
    padding-top: 100px;
}
.section-heading h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5ebf2;
}
.single-progress-txt {
    display: flex;
}
.single-progress-txt h3 {
    width: 10%;
    color: #0629c3;
    position: relative;
    top: 6px;
    left: 20px;
}
.barWrapper {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}
.progress {
    border-radius:3px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    overflow: visible;
    background: #e6ecf3;
    height:8px;
    margin-top: 15px;
    width: 85%;
    margin-bottom: 37px;
}
.progress-bar {
   border-radius: 3px;
   -webkit-transition: width 1.5s ease-in-out;
   -ms-transition: width 1.5s ease-in-out;
   -moz-transition: width 1.5s ease-in-out;
   -o-transition: width 1.5s ease-in-out;
   transition: width 1.5s ease-in-out;
}

.progress-moved .progress-bar {
    width: 0%;
    background-color: #3676ff;
}

/*-------------------------------------
        Experience
--------------------------------------*/
.experience-content {padding-top: 100px;}
.single-timeline-box {margin-bottom: 75px;}

.experience-time {
    position: relative;
}
.experience-time h2 {
    font-weight: 400;
}
.experience-time h3 {
    font-size: 16px;
    font-weight: 300;
    color: #636a82;
    margin-top: 14px;
    text-transform: uppercase;
}

.main-timeline{
    position: relative;
}
.main-timeline:before{
    content: "";
    width: 2px;
    height: 84%;
    background: #b2c1ce;
    position: absolute;
    top: 1.5%;
    left: 45.8%;
    z-index: -1;
}
.main-timeline .timeline{
    position: relative;
}

.timeline-content span>i, .experience-time span>i {
    color: #2c7ef9;
    position: absolute;
    font-size: 10px;
    left: -14.5%;
    z-index: 1;
}
.timeline-content h4.title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.timeline-content h5 {
    color: #636a82;
    font-size: 14px;
    font-weight: 300;
    margin: 18px 0 20px;
}

.main-timeline .description {
    font-size: 14px;
    color: #999fb3;
}
.main-timeline .timeline-content.right{
    float: right;
    text-align: left;
}
.timeline-single-before:before {
    content: '';
    top: 57px;
    left: -3px;
    position: absolute;
    width: 100%;
    height:400px;
    border-left:15px solid #fff;
}

.experience .card .description {
    font-size: 14px;
    color: #999fb3;
}

.experience .card .description ul{
    margin-left: 20px;
}

.experience .card .description li{
    list-style-type: disc;
    padding: 2px 0;
}

/*-------------------------------------
        Activities
--------------------------------------*/
#activities .nav{
    background-color: #f9fbfd;
}

.activity {
    text-align: center;
    margin: 20px;
}

.activity-icon {
    font-size: 30px;
    color: #3273dc;
    margin-bottom: 10px;
}

.activity-title {
    font-weight: bold;
    margin: 10px 0;
    font-size: 16px;
}

.activity-description {
    color: #636a82;
}

/*-------------------------------------
        Portfolio
--------------------------------------*/
#portfolio a{
    color: white;
    cursor: pointer;
}

#portfolio .description {
    font-size: 14px;
}

#portfolio .description ul{
    margin-left: 20px;
}

#portfolio .description li{
    padding: 2px 0;
    list-style-type: disc;
}

.portfolio-content {padding-top: 100px;}

/* ---- .item ---- */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}
.isotope .item {
    position:relative;
    overflow:hidden;
    margin-bottom: 30px;
}
/*.item img*/
.isotope .item img{
    width:100%;
    height:100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.isotope .item:hover  img{
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5);
}/*.item img*/

/*.isotope-overlay*/
.isotope-overlay{
    position:absolute;
    height:100%;
    width:100%;
    background:rgba(31,44,108,0.8);
    display:flex;
    align-items:center;
    text-transform: uppercase;
    justify-content:center;
    flex-direction:row;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.isotope-overlay a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.isotope .item:hover .isotope-overlay{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    top:0;
}

/* footer */

.hm-footer-copyright p{
    color: #888ea5;
    text-transform: capitalize;
    padding: 38px 0;
}

/*-------------------------------------
        Scroll Top
--------------------------------------*/
#scroll-Top  .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background:#3676ff;
	border:1px solid #3676ff;
	border-radius:50%;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	z-index: 2;
}

#scroll-Top  .return-to-top:hover {
    background:#fff;
    color: #3676ff;
	border:1px solid #3676ff;
}

#scroll-Top  .return-to-top i{
    position:relative;
    bottom:0;

}

#scroll-Top  .return-to-top i{
    position: relative;
    animation-name: example;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration:1s;
}

@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}

.navbar-nav .active, .nav-link:hover, .nav-link:active {
    color: #3676ff;
}
